examples/ttn-iot-workshop.json
[{"id":"6a9e2ba9.3db464","type":"tab","label":"TTN","disabled":false,"info":""},{"id":"33cfdfb5.60bbb","type":"mqtt in","z":"6a9e2ba9.3db464","name":"","topic":"enfieldlibrary_iot_trial/devices/+/up","qos":"2","datatype":"auto","broker":"63ac7abd.d2e764","x":160,"y":40,"wires":[["5afe6a4f.df16a4"]]},{"id":"10822adb.28d075","type":"debug","z":"6a9e2ba9.3db464","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":450,"y":120,"wires":[]},{"id":"5afe6a4f.df16a4","type":"json","z":"6a9e2ba9.3db464","name":"","property":"payload","action":"","pretty":false,"x":110,"y":120,"wires":[["10822adb.28d075","5f035d89.d9a384"]]},{"id":"706a2b40.18cb24","type":"status","z":"6a9e2ba9.3db464","name":"","scope":["33cfdfb5.60bbb"],"x":100,"y":1180,"wires":[["3d34a081.571ac"]],"outputLabels":["status"]},{"id":"3570701.057629","type":"ui_text","z":"6a9e2ba9.3db464","group":"6ab755dd.52fb8c","order":1,"width":"6","height":"1","name":"","label":"TTN MQTT","format":"{{payload}}","layout":"col-center","x":480,"y":1180,"wires":[]},{"id":"3d34a081.571ac","type":"function","z":"6a9e2ba9.3db464","name":"","func":"if (msg.status.fill === 'green') {\n msg.payload = \"Connected\";\n} else {\n    msg.payload = \"Not Connected\";\n}\nmsg.topic = \"status\";\n\nreturn msg;","outputs":1,"noerr":0,"x":250,"y":1180,"wires":[["3570701.057629","bdc045df.62a908"]]},{"id":"bdc045df.62a908","type":"debug","z":"6a9e2ba9.3db464","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":460,"y":1220,"wires":[]},{"id":"5f035d89.d9a384","type":"switch","z":"6a9e2ba9.3db464","name":"device","property":"payload.dev_id","propertyType":"msg","rules":[{"t":"eq","v":"roaming_mawsonlakes","vt":"str"},{"t":"eq","v":"the_roaming_auduino_enfield","vt":"str"},{"t":"eq","v":"iot-workshop-1","vt":"str"},{"t":"eq","v":"iot-workshop-2","vt":"str"},{"t":"eq","v":"iot-workshop-3","vt":"str"},{"t":"eq","v":"iot-workshop-4","vt":"str"},{"t":"eq","v":"iot-workshop-5","vt":"str"},{"t":"eq","v":"iot-workshop-6","vt":"str"},{"t":"eq","v":"iot-workshop-7","vt":"str"},{"t":"eq","v":"iot-workshop-8","vt":"str"},{"t":"eq","v":"iot-workshop-9","vt":"str"},{"t":"eq","v":"iot-workshop-10","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":13,"x":210,"y":260,"wires":[["1eb99396.c4c30c"],["2c660520.a7e71a"],["32303ab3.1627c6","ecdfc98a.9eaf18"],["bc376645.56e5f8"],["93012854.6bb028"],["cdf06a1e.5d5738"],["4592a5b3.c6702c"],["eab49ec5.c175f"],["e9a1c5b0.4c9d18"],["6a0a9ab1.e02a64"],["78ce7bf7.51fbf4"],["16bbd609.e7c08a"],["3fcfea1a.c3cc36"]]},{"id":"32303ab3.1627c6","type":"ui_text","z":"6a9e2ba9.3db464","group":"2206d9fc.8665b6","order":3,"width":0,"height":0,"name":"","label":"iot-workshop-1","format":"{{msg.payload.payload_fields.receivedString}}","layout":"row-spread","x":460,"y":300,"wires":[]},{"id":"1eb99396.c4c30c","type":"ui_text","z":"6a9e2ba9.3db464","group":"2206d9fc.8665b6","order":1,"width":0,"height":0,"name":"","label":"roaming_mawsonlakes","format":"{{msg.payload.payload_fields.receivedString}}","layout":"row-spread","x":480,"y":160,"wires":[]},{"id":"bc376645.56e5f8","type":"ui_text","z":"6a9e2ba9.3db464","group":"2206d9fc.8665b6","order":4,"width":0,"height":0,"name":"","label":"iot-workshop-2","format":"{{msg.payload.payload_fields.receivedString}}","layout":"row-spread","x":440,"y":380,"wires":[]},{"id":"93012854.6bb028","type":"ui_text","z":"6a9e2ba9.3db464","group":"2206d9fc.8665b6","order":5,"width":0,"height":0,"name":"","label":"iot-workshop-3","format":"{{msg.payload.payload_fields.receivedString}}","layout":"row-spread","x":440,"y":420,"wires":[]},{"id":"cdf06a1e.5d5738","type":"ui_text","z":"6a9e2ba9.3db464","group":"2206d9fc.8665b6","order":6,"width":0,"height":0,"name":"","label":"iot-workshop-4","format":"{{msg.payload.payload_fields.receivedString}}","layout":"row-spread","x":440,"y":460,"wires":[]},{"id":"4592a5b3.c6702c","type":"ui_text","z":"6a9e2ba9.3db464","group":"2206d9fc.8665b6","order":7,"width":0,"height":0,"name":"","label":"iot-workshop-5","format":"{{msg.payload.payload_fields.receivedString}}","layout":"row-spread","x":440,"y":500,"wires":[]},{"id":"eab49ec5.c175f","type":"ui_text","z":"6a9e2ba9.3db464","group":"2206d9fc.8665b6","order":8,"width":0,"height":0,"name":"","label":"iot-workshop-6","format":"{{msg.payload.payload_fields.receivedString}}","layout":"row-spread","x":440,"y":540,"wires":[]},{"id":"e9a1c5b0.4c9d18","type":"ui_text","z":"6a9e2ba9.3db464","group":"2206d9fc.8665b6","order":9,"width":0,"height":0,"name":"","label":"iot-workshop-7","format":"{{msg.payload.payload_fields.receivedString}}","layout":"row-spread","x":440,"y":580,"wires":[]},{"id":"6a0a9ab1.e02a64","type":"ui_text","z":"6a9e2ba9.3db464","group":"2206d9fc.8665b6","order":10,"width":0,"height":0,"name":"","label":"iot-workshop-8","format":"{{msg.payload.payload_fields.receivedString}}","layout":"row-spread","x":440,"y":620,"wires":[]},{"id":"78ce7bf7.51fbf4","type":"ui_text","z":"6a9e2ba9.3db464","group":"2206d9fc.8665b6","order":11,"width":0,"height":0,"name":"","label":"iot-workshop-9","format":"{{msg.payload.payload_fields.receivedString}}","layout":"row-spread","x":440,"y":660,"wires":[]},{"id":"16bbd609.e7c08a","type":"ui_text","z":"6a9e2ba9.3db464","group":"2206d9fc.8665b6","order":12,"width":0,"height":0,"name":"","label":"iot-workshop-10","format":"{{msg.payload.payload_fields.receivedString}}","layout":"row-spread","x":440,"y":700,"wires":[]},{"id":"2c660520.a7e71a","type":"ui_text","z":"6a9e2ba9.3db464","group":"2206d9fc.8665b6","order":2,"width":0,"height":0,"name":"","label":"the_roaming_auduino_enfield","format":"{{msg.payload.payload_fields.receivedString}}","layout":"row-spread","x":510,"y":200,"wires":[]},{"id":"3fcfea1a.c3cc36","type":"ui_text","z":"6a9e2ba9.3db464","group":"2206d9fc.8665b6","order":13,"width":0,"height":0,"name":"","label":"Other","format":"{{msg.payload.dev_id}}","layout":"col-center","x":410,"y":740,"wires":[]},{"id":"ecdfc98a.9eaf18","type":"function","z":"6a9e2ba9.3db464","name":"extract data","func":"var payload = msg.payload.payload_fields.receivedString\npayload = payload.substring(10)\nvar integer = parseInt(payload,16)\nvar moisture = integer/1024.0 * 100.0\nmsg.payload = moisture\n\n// To allow plotting of multiple series\nmsg.label = \"sensor-1\"\n\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":340,"wires":[["96cba26.919916"]]},{"id":"96cba26.919916","type":"ui_chart","z":"6a9e2ba9.3db464","name":"","group":"8305cf56.45da7","order":2,"width":0,"height":0,"label":"Sensor 1","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"No data","dot":false,"ymin":"0","ymax":"100","removeOlder":"4","removeOlderPoints":"10000","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":800,"y":340,"wires":[["7b8ceb0b.35df54"]]},{"id":"baa704f2.118d58","type":"inject","z":"6a9e2ba9.3db464","name":"clear chart","topic":"","payload":"[]","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":640,"y":360,"wires":[["96cba26.919916"]]},{"id":"7b8ceb0b.35df54","type":"persist in","z":"6a9e2ba9.3db464","name":"sensor-1","storageNode":"949c0358.d2f16","x":950,"y":340,"wires":[]},{"id":"c7df3891.af19a8","type":"persist out","z":"6a9e2ba9.3db464","name":"sensor-1","storageNode":"949c0358.d2f16","x":620,"y":400,"wires":[["96cba26.919916"]]},{"id":"63ac7abd.d2e764","type":"mqtt-broker","z":"","name":"Meshed","broker":"thethings.meshed.com.au","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"6ab755dd.52fb8c","type":"ui_group","z":"","name":"Status","tab":"ad57a37c.c4691","order":1,"disp":false,"width":"6","collapse":false},{"id":"2206d9fc.8665b6","type":"ui_group","z":"","name":"Data","tab":"ad57a37c.c4691","order":2,"disp":true,"width":"6","collapse":false},{"id":"8305cf56.45da7","type":"ui_group","z":"","name":"Soil Moisture","tab":"ad57a37c.c4691","order":3,"disp":true,"width":"6","collapse":false},{"id":"949c0358.d2f16","type":"persist-store","z":"","filename":"data-sensor-1.json","interval":"60"},{"id":"ad57a37c.c4691","type":"ui_tab","z":"","name":"TheThingsNetwork","icon":"fa-check-square-o","order":1,"disabled":false,"hidden":false}]